<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="basic" />
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_PCService_Def">
                    <security mode="Transport">
                        <transport clientCredentialType="None" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://omsitest.swiftprepaid.com/API/PromocodeService.svc/basic1"
                binding="basicHttpBinding" bindingConfiguration="basic" contract="PromoCodeService.PCService_Def"
                name="basic" />
            <endpoint address="https://omsitest.swiftprepaid.com/API/PromocodeService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_PCService_Def"
                contract="PromoCodeService.PCService_Def" name="WSHttpBinding_PCService_Def" />
        </client>
    </system.serviceModel>
</configuration>