<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />

    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CoopCheck.WPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CoopCheck.Web.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!-- TEST -->
    <add key="SwiftUserId" value="REC01" />
    <add key="SwiftPassword" value="2015R3ckn3r!" />
    <add key="SwiftProgramId" value="REC01PP0001" />
    <add key="SwiftIssuanceProductId" value="REC01IP0001" />
    <add key="SwiftLocationId" value="PROMOCODE" />
    <!-- production -->
    <!--<add key="SwiftUserId" value="REC01" />
    <add key="SwiftPassword" value="2015R3ckn3r!" />
    <add key="SwiftProgramId" value="REC01PP0001" />
    <add key="SwiftIssuanceProductId" value="REC01IP0001" />
    <add key="SwiftLocationId" value="CORPORATE" />-->
    <add key="CslaAuthentication" value="Windows" />
    <!--<add key="DalManagerType" value="ProjectTracker.DalMock.DalManager,ProjectTracker.DalMock"/>-->
    <add key=".DalManagerType" value="CoopCheck.DalADO.DalManager, CoopCheck.DalADO" />
    <add key="CslaWriter" value="Csla.Serialization.Mobile.CslaBinaryWriter, Csla" />
    <add key="CslaReader" value="Csla.Serialization.Mobile.CslaBinaryReader, Csla" />
    <add key="ThankYou1" value="Recently you participated in a marketing research study regarding " />
    <add key="StudyTopic" value="JOB NAME GOES HERE" />
    <add key="ThankYou2" value="We thank you for your valued opinions." />
    <add key="MarketingResearchMessage" value="Market Research is an important step in the research process.  It helps manufacturers and service providers to understand their customers needs.  We hope that your experience was pleasant and you will continue to participate in market research studies." />
    <add key="DefaultCountry" value="US" />
    <add key="MelissaDataKey" value="98867798" />
    <add key="amount" value="AMOUNT,COOP,PAY,PAYMENT,TRAN AMOUNT,TRAN_AMOUNT" />
    <add key="person_id" value="PERSON_ID,PERSONID,PERSON ID" />
    <add key="prefix" value="PREFIX,NAME PREFIX" />
    <add key="first" value="FIRST,FIRST NAME,FIRST_NAME,FIRST_NM,FIRST NM" />
    <add key="middle" value="MIDDLE,MIDDLE_NAME,MIDDLE NAME,MIDDLE_NM,MIDDLE NM" />
    <add key="last" value="LAST,LAST_NAME,LAST NAME,LAST_NM,LAST NM" />
    <add key="suffix" value="SUFFIX, NAME SUFFIX" />
    <add key="title" value="TITLE" />
    <add key="company" value="COMPANY,BUSINESS NAME,BUSINESS" />
    <add key="address1" value="ADDRESS LINE 1,ADDRESS LINE1,ADDRESS1,ADDRESS 1,ADDRESS LN 1,ADDRESS LN1,ADDRESS_LINE_1,ADDRESS_LINE1,ADDRESS_LN1,ADDRESS_LN_1" />
    <add key="address2" value="ADDRESS LINE 2,ADDRESS LINE2,ADDRESS2,ADDRESS 2,ADDRESS LN 2,ADDRESS LN2,ADDRESS_LINE_2,ADDRESS_LINE2,ADDRESS_LN2,ADDRESS_LN_2" />
    <add key="municipality" value="MUNICIPALITY,CITY,MUNI,TOWN" />
    <add key="region" value="REGION,STATE,PROVINCE,ST,PRV" />
    <add key="postalCode" value="POSTAL CODE,POSTAL_CODE,ZIP,ZIPCODE,ZIP CODE,ZIP_CODE" />
    <add key="country" value="COUNTRY,CNTRY,CTRY,CNT" />
    <add key="phone" value="PHONE,PH,PHN,TELEPHONE,PHONENUMBER,PHONE NUMBER" />
    <add key="email" value="EMAIL,EML,E-MAIL,E MAIL" />
    <add key="jobnum" value="JOBNUM,JOB_NUM,JOBNUM,JOBNUMBER,JOB NUMBER,JOB #,JOB#" />
    <add key="PersonatorClientID" value="98867798Z" />
    <add key="PersonatorActions" value="Check,Verify" />
    <add key="PersonatorOptions" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <log4net debug="true">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\\logs\\coopcheck.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n" />
      </layout>
    </appender>

    <root>
      <level value="ALL" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>
  <system.web>
    <compilation debug="true" targetFramework="4.6" />
    <httpRuntime targetFramework="4.6" />
    <authentication mode="Windows" />
    <identity impersonate="false" />
    <authorization>
      <deny users="?" />
    </authorization>
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <connectionStrings>
    <!--LOCAL-->
    <!--<add name="CoopCheck" connectionString="data source=(local);initial catalog=CoopCheck;integrated security=True" />
    <add name="CoopCheckEntities" connectionString="metadata=res://*/CoopCheckModel.csdl|res://*/CoopCheckModel.ssdl|res://*/CoopCheckModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=CoopCheck;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DataCleanEntities" connectionString="metadata=res://*/DataCleanModel.csdl|res://*/DataCleanModel.ssdl|res://*/DataCleanModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=DataClean;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--SERVER-->
    <!--<add name="DataCleanEntities" connectionString="metadata=res://*/DataCleanModel.csdl|res://*/DataCleanModel.ssdl|res://*/DataCleanModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL08-02.reckner.com;initial catalog=DataClean;integrated security=false;User Id=fmedvedik;Password=dogboy191;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CoopCheck" connectionString="Data Source=SQL08-02.reckner.com;Initial Catalog=CoopCheck;Integrated Security=False;User Id=fmedvedik;Password=dogboy191;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="CoopCheckEntities" connectionString="metadata=res://*/CoopCheckModel.csdl|res://*/CoopCheckModel.ssdl|res://*/CoopCheckModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL08-02.reckner.com;initial catalog=Coopcheck;integrated security=false;User Id=fmedvedik;Password=dogboy191;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--SERVER DEV-->
    <add name="DataCleanEntities" connectionString="metadata=res://*/DataCleanModel.csdl|res://*/DataCleanModel.ssdl|res://*/DataCleanModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL08-02.reckner.com;initial catalog=DataClean;integrated security=false;User Id=fmedvedik;Password=dogboy191;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CoopCheck" connectionString="Data Source=SQL08-02.reckner.com;Initial Catalog=CoopCheck_dev;Integrated Security=False;User Id=fmedvedik;Password=dogboy191;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="CoopCheckEntities" connectionString="metadata=res://*/CoopCheckModel.csdl|res://*/CoopCheckModel.ssdl|res://*/CoopCheckModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL08-02.reckner.com;initial catalog=Coopcheck_dev;integrated security=false;User Id=fmedvedik;Password=dogboy191;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttpBindingConfigEndpoint" maxReceivedMessageSize="20000000">
          <security mode="Transport" />
        </binding>
        <binding name="basic" maxReceivedMessageSize="20000000" />
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_PCService_Def" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxArrayLength="200000000" maxStringContentLength="200000000" />
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://personator.melissadata.net/v3/SOAP/ContactVerify" binding="basicHttpBinding" bindingConfiguration="basicHttpBindingConfigEndpoint" contract="Personator.ServicemdContactVerifySOAP" name="basicHttpBindingConfigEndpoint" />
      <endpoint address="https://omsitest.swiftprepaid.com/API/PromocodeService.svc" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_PCService_Def" contract="PromoCodeService.PCService_Def"
                name="WSHttpBinding_PCService_Def" />
      <!--<endpoint address="https://api.swiftprepaid.com/PromocodeService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_PCService_Def" contract="PromoCodeService.PCService_Def" name="WSHttpBinding_PCService_Def" />-->
    </client>
  </system.serviceModel>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <applicationSettings>
    <CoopCheck.Web.Properties.Settings>
      <setting name="EmailSender" serializeAs="String">
        <value>fmedvedik@reckner.com</value>
      </setting>
      <setting name="EmailServer" serializeAs="String">
        <value>email.reckner.com</value>
      </setting>
    </CoopCheck.Web.Properties.Settings>
  </applicationSettings>
</configuration>