<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CoopCheck.WPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="DataClean.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CoopCheck.WPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <appSettings>
    <!-- TEST -->
    <!-- <add key="SwiftUserId" value="REC01"/>
    <add key="SwiftPassword" value="2015R3ckn3r!"/>
    <add key="SwiftProgramId" value="REC01PP0001"/>
    <add key="SwiftIssuanceProductId" value="REC01IP0001"/>
    <add key="SwiftLocationId" value="PROMOCODE"/> -->
    <!-- production -->
    <add key="SwiftUserId" value="REC01"/>
    <add key="SwiftPassword" value="2015R3ckn3r!"/>
    <add key="SwiftProgramId" value="REC01PP0001"/>
    <add key="SwiftIssuanceProductId" value="REC01IP0001"/>
    <add key="SwiftLocationId" value="CORPORATE"/>
    <!--<add key="SwiftLocationId" value="PROMOCODE"/>-->

    <add key="CslaAuthentication" value="Windows"/>
    <!--<add key="DalManagerType" value="ProjectTracker.DalMock.DalManager,ProjectTracker.DalMock"/>-->
    <add key=".DalManagerType" value="CoopCheck.DalADO.DalManager, CoopCheck.DalADO"/>
    <add key="CslaWriter" value="Csla.Serialization.Mobile.CslaBinaryWriter, Csla"/>
    <add key="CslaReader" value="Csla.Serialization.Mobile.CslaBinaryReader, Csla"/>
    <add key="ThankYou1" value="Thank You"/>
    <add key="StudyTopic" value="Recently you participated in a marketing research study regarding "/>
    <add key="ThankYou2" value="We thank you for your valued opinions."/>
    <add key="MarketingResearchMessage" value="Market Research is an important step in the research process.  It helps manufacturers and service providers to understand their customers needs.  We hope that your experience was pleasant and you will continue to participate in market research studies."/>
    <add key="DefaultCountry" value="US"/>
    <add key="MelissaDataKey" value="98867798"/>
    <add key="amount" value="AMOUNT,COOP,PAY,PAYMENT,TRAN AMOUNT,TRAN_AMOUNT"/>
    <add key="person_id" value="PERSON_ID,PERSONID,PERSON ID"/>
    <add key="prefix" value="PREFIX,NAME PREFIX"/>
    <add key="first" value="FIRST,FIRST NAME,FIRST_NAME,FIRST_NM,FIRST NM"/>
    <add key="middle" value="MIDDLE,MIDDLE_NAME,MIDDLE NAME,MIDDLE_NM,MIDDLE NM"/>
    <add key="last" value="LAST,LAST_NAME,LAST NAME,LAST_NM,LAST NM"/>
    <add key="suffix" value="SUFFIX, NAME SUFFIX"/>
    <add key="title" value="TITLE"/>
    <add key="company" value="COMPANY,BUSINESS NAME,BUSINESS"/>
    <add key="address1" value="ADDRESS LINE 1,ADDRESS LINE1,ADDRESS1,ADDRESS 1,ADDRESS LN 1,ADDRESS LN1,ADDRESS_LINE_1,ADDRESS_LINE1,ADDRESS_LN1,ADDRESS_LN_1"/>
    <add key="address2" value="ADDRESS LINE 2,ADDRESS LINE2,ADDRESS2,ADDRESS 2,ADDRESS LN 2,ADDRESS LN2,ADDRESS_LINE_2,ADDRESS_LINE2,ADDRESS_LN2,ADDRESS_LN_2"/>
    <add key="municipality" value="MUNICIPALITY,CITY,MUNI,TOWN"/>
    <add key="region" value="REGION,STATE,PROVINCE,ST,PRV"/>
    <add key="postalCode" value="POSTAL CODE,POSTAL_CODE,ZIP,ZIPCODE,ZIP CODE,ZIP_CODE"/>
    <add key="country" value="COUNTRY,CNTRY,CTRY,CNT"/>
    <add key="phone" value="PHONE,PH,PHN,TELEPHONE,PHONENUMBER,PHONE NUMBER"/>
    <add key="email" value="EMAIL,EML,E-MAIL,E MAIL"/>
    <add key="jobnum" value="JOBNUM,JOB_NUM,JOBNUM,JOBNUMBER,JOB NUMBER,JOB #,JOB#"/>
    <add key="PersonatorClientID" value="98867798Z"/>
    <add key="PersonatorActions" value="Check,Verify"/>
    <add key="PersonatorOptions" value=""/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <connectionStrings>
    <!--LOCAL-->
    <add name="CoopCheck" connectionString="data source=(local);initial catalog=CoopCheck;integrated security=True" />
    <!--<add name="CoopCheckEntities" connectionString="metadata=res://*/CoopCheckModel.csdl|res://*/CoopCheckModel.ssdl|res://*/CoopCheckModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CLEANCUSTOMERS;initial catalog=CoopCheck;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="CoopCheckEntities" connectionString="metadata=res://*/CoopCheckModel.csdl|res://*/CoopCheckModel.ssdl|res://*/CoopCheckModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=CoopCheck;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DataCleanEntities" connectionString="metadata=res://*/DataCleanModel.csdl|res://*/DataCleanModel.ssdl|res://*/DataCleanModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=DataClean;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--SERVER-->
    <!--<add name="DataCleanEntities" connectionString="metadata=res://*/DataCleanModel.csdl|res://*/DataCleanModel.ssdl|res://*/DataCleanModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL08-02.reckner.com;initial catalog=DataClean;integrated security=false;User Id=fmedvedik;Password=dogboy191;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="CoopCheck" connectionString="Data Source=SQL08-02.reckner.com;Initial Catalog=CoopCheck;Integrated Security=False;User Id=fmedvedik;Password=dogboy191;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
    <add name="CoopCheckEntities" connectionString="metadata=res://*/CoopCheckModel.csdl|res://*/CoopCheckModel.ssdl|res://*/CoopCheckModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL08-02.reckner.com;initial catalog=Coopcheck;integrated security=false;User Id=fmedvedik;Password=dogboy191;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->

    <!--<add name="CoopCheck" connectionString="Data Source=10.0.0.74;Initial Catalog=CoopCheck;Integrated Security=False;User Id=fmedvedik;Password=dogboy191;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="CoopCheckEntities" connectionString="metadata=res://*/CoopCheckModel.csdl|res://*/CoopCheckModel.ssdl|res://*/CoopCheckModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.0.0.74;initial catalog=Coopcheck;integrated security=false;User Id=fmedvedik;Password=dogboy191;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.5.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttpBindingConfigEndpoint">
          <security mode="Transport"/>
        </binding>
        <binding name="basic"/>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_PCService_Def">
          <security mode="Transport">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://personator.melissadata.net/v3/SOAP/ContactVerify" binding="basicHttpBinding" bindingConfiguration="basicHttpBindingConfigEndpoint" contract="Personator.ServicemdContactVerifySOAP" name="basicHttpBindingConfigEndpoint"/>
      <!--test <endpoint address="https://omsitest.swiftprepaid.com/API/PromocodeService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_PCService_Def" contract="PromoCodeService.PCService_Def" name="WSHttpBinding_PCService_Def"/>-->
      <endpoint address="https://api.swiftprepaid.com/PromocodeService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_PCService_Def" contract="PromoCodeService.PCService_Def" name="WSHttpBinding_PCService_Def"/>
    </client>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <applicationSettings>
    <CoopCheck.WPF.Properties.Settings>
      <setting name="Setting" serializeAs="String">
        <value>dasa</value>
      </setting>
      <setting name="PersonatorClientID" serializeAs="String">
        <value>98867798</value>
      </setting>
      <setting name="PersonatorActions" serializeAs="String">
        <value>Check,Verify</value>
      </setting>
      <setting name="PersonatorOptions" serializeAs="String">
        <value/>
      </setting>
      <setting name="CheckTemplate" serializeAs="String">
        <value>RecknerCheckTemplate.dotx</value>
      </setting>
      <setting name="ReadAuth" serializeAs="String">
        <value>Reckner\\CoopCheckReader</value>
      </setting>
      <setting name="WriteAuth" serializeAs="String">
        <value>Reckner\\CoopCheckAdmin</value>
      </setting>
    </CoopCheck.WPF.Properties.Settings>
    <DataClean.Properties.Settings>
      <setting name="ClientID" serializeAs="String">
        <value>98867798</value>
      </setting>
      <setting name="PersonatorActions" serializeAs="String">
        <value>Check,Verify</value>
      </setting>
      <setting name="PersonatorOptions" serializeAs="String">
        <value/>
      </setting>
    </DataClean.Properties.Settings>
  </applicationSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <CoopCheck.WPF.Properties.Settings>
      <setting name="CheckDirectory" serializeAs="String">
        <value>c:\temp\</value>
      </setting>
      <setting name="AccentColor" serializeAs="String">
        <value/>
      </setting>
      <setting name="Theme" serializeAs="String">
        <value/>
      </setting>
      <setting name="FontSize" serializeAs="String">
        <value/>
      </setting>
    </CoopCheck.WPF.Properties.Settings>
  </userSettings>
</configuration>
