@using CoopCheck.Web.Services
<div class="jumbotron">
    <h1>Coop Check</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2><a class="btn btn-default" type="application/octet-stream" HREF="setup.exe">Setup</a> on your PC</h2>
            
        <h2>Your Access Level</h2>
        <p>@HttpContext.Current.User.Identity.Name;</p>
        @if (UserAuthSvc.CanRead(HttpContext.Current.User.Identity.Name))
        {
            <p>CoopCheckread</p>
            if (UserAuthSvc.CanWrite(HttpContext.Current.User.Identity.Name))
            {
                <p>CoopCheckAdmin</p>
            }
        }
        else
        {
            <p>No Access to coopcheck</p>
        }
    </div>
</div>
  