<div class="jumbotron">
    <h1>CoopCheck</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Install coopcheck on your pc</h2>
        <p><a class="btn btn-default" type="application/octet-stream" href="\\app2012.reckner.com\coopcheckpub$\setup.exe">Setup&raquo;</a>
        </p>
    </div>
</div>
